# Visual Studio
.vs/
*.vcxproj.user
*.opendb
*.tlog
*.log
ipch/
*.obj
*.pch
*.ilk
*.idb
*.pdb
*.aps
*.sdf
*.cache
*.iobj
*.ipdb
*.rsp

# Build directories
Debug/
Release/
x64/
x86/
build/

# Temporary and backup files
*.tmp
*.bak
*.old
*.userosscache
*.suo
*.userprefs